# dependencies
/node_modules

# testing
/coverage

# docs
/docs

# misc
/.github
/demo
.esdoc.json
.editorconfig
.eslintignore
.eslintrc.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Development folders and files
src
tests
webpack.mix.js
CHANGELOG.md
README.md
